.card {
  padding: 2em;
}
.container {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  width: 100vw;
  height: 100vh;
}
.cell {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid #ddd;
}
.selector-container {
  background-color: white;
  position: absolute;
  -webkit-box-shadow: 9px 10px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 13px 0px rgba(0, 0, 0, 0.75);
}
.selector-button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
